

.header{
    background:  #14b6b6;
    margin-bottom: 20px;
    text-align: center;
}

.header_area{
    padding: 20px;
}

.memu_area{
    margin-top: 30px;
}

.memu_area nav a{
    background-color: #13a5a5;
    color:white;
    margin-bottom: 10px;
}

.memu_area nav a:hover{
    background-color: #198181;
}


.active{
    background-color: #095e5e !important;
}

.logo{
    width: 95px;
}

.main{
    
}

.main .card{
    margin-bottom: 5px;
}

.main_area{
    margin-bottom: 20px;
}

.footer{
    margin-top: 10px;
    background: #14b6b6;
    color: white;
}
.footer_area{
    padding: 20px;
    text-align: center  ;
}

.modal-body img{ width: 100%;}

.memu_area2{
    margin-top: 30px;
}

.memu_area2 nav a{
    background-color: #14b6b6;
    color:white;
    margin-bottom: 10px;
}

.memu_area2 nav a:hover{
    background-color: #57807d;
}
